.partyvvv{
    width: 100%;
    height: 65vh;
    z-index: -1;
    opacity: 0.7;
    position: relative;
}
.tit{
    text-align: center;
    text-decoration:underline ;
    box-sizing: content-box;
    width: 25%;
    margin-left: 45%;
    z-index: 1;
    position: absolute;
    font-size: 3rem;
    color:rgba(0, 0, 0, 0.622);
}
.headxx{
    width:100%;
    height:40em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://idme-marketplace.s3.amazonaws.com/g8a6pvaruqfc7sbanhksso909f9e');
}

 .imxx{
    width: 30vw;
    height: 50vh;
 }
.boxsxs{
   margin-top: 12%;
   margin-left: 7%;
}